[init]
	defaultBranch = main
[fetch]
	prune = true
[user]
	email = me@lystran.com
	name = LystranG
	signingkey = {{ ( bitwarden "item" "common-ssh" ).sshKey.publicKey }}
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir -}}/.ssh/allowed_signers
[pull]
    rebase = false
